In [2]:
import numpy as np 
import pandas as pd 
import seaborn as sns 
import matplotlib as mpl 
import matplotlib.pyplot as plt 
%matplotlib inline
# 한글폰트 사용
mpl.rc('font', family='Malgun Gothic')
mpl.rc('axes', unicode_minus=False)

In [3]:
pop = pd.read_csv('./cctv/서울시 인구.tsv', sep='\t', header=2)
pop.head()

,기간,자치구,세대,계,남자,여자,계.1,남자.1,여자.1,계.2,남자.2,여자.2,세대당인구,65세이상고령자
0,2020.3/4,합계,"4,405,833","9,953,009","4,840,912","5,112,097","9,699,232","4,719,170","4,980,062","253,777","121,742","132,035",2.20,"1,552,356"
1,2020.3/4,종로구,"74,861","159,842","77,391","82,451","149,952","73,024","76,928","9,890","4,367","5,523",2.00,"28,396"
2,2020.3/4,중구,"63,594","135,321","66,193","69,128","125,800","61,526","64,274","9,521","4,667","4,854",1.98,"24,265"
3,2020.3/4,용산구,"112,451","244,953","119,074","125,879","229,786","110,604","119,182","15,167","8,470","6,697",2.04,"39,995"
4,2020.3/4,성동구,"136,096","302,695","147,582","155,113","295,591","144,444","151,147","7,104","3,138","3,966",2.17,"45,372"

In [4]:
del pop['기간']
del pop['세대']
del pop['남자']
del pop['남자.1']
del pop['남자.2']
del pop['여자']
del pop['여자.1']
del pop['여자.2']
del pop['세대당인구']
pop.head()

   자치구          계        계.1      계.2   65세이상고령자
0   합계  9,953,009  9,699,232  253,777  1,552,356
1  종로구    159,842    149,952    9,890     28,396
2   중구    135,321    125,800    9,521     24,265
3  용산구    244,953    229,786   15,167     39,995
4  성동구    302,695    295,591    7,104     45,372

In [5]:
pop.rename({'자치구': '구별', '계': '인구수', '계.1': '내국인', '계.2': '외국인',
            '65세이상고령자': '고령자'}, inplace=True, axis=1)
pop.head()

    구별        인구수        내국인      외국인        고령자
0   합계  9,953,009  9,699,232  253,777  1,552,356
1  종로구    159,842    149,952    9,890     28,396
2   중구    135,321    125,800    9,521     24,265
3  용산구    244,953    229,786   15,167     39,995
4  성동구    302,695    295,591    7,104     45,372

In [6]:
pop['인구수'] = pop['인구수'].map(lambda s: int(s.replace(',','')))
pop['내국인'] = pop['내국인'].map(lambda s: int(s.replace(',','')))
pop['외국인'] = pop['외국인'].map(lambda s: int(s.replace(',','')))
pop['고령자'] = pop['고령자'].map(lambda s: int(s.replace(',','')))
pop.head()

    구별      인구수      내국인     외국인      고령자
0   합계  9953009  9699232  253777  1552356
1  종로구   159842   149952    9890    28396
2   중구   135321   125800    9521    24265
3  용산구   244953   229786   15167    39995
4  성동구   302695   295591    7104    45372