In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib inline

## 한글 폰트 사용
# 폰트 설정
mpl.rc('font', family='Malgun Gothic') #family에 사용할 폰트를 넣음
# 유니코드에서  음수 부호설정
mpl.rc('axes', unicode_minus=False)

## 서울시 인구 현황

In [2]:
pop = pd.read_csv('./cctv/서울시 인구.tsv', sep='\t', header=2)
pop.head()

,기간,자치구,세대,계,남자,여자,계.1,남자.1,여자.1,계.2,남자.2,여자.2,세대당인구,65세이상고령자
0,2020.3/4,합계,"4,405,833","9,953,009","4,840,912","5,112,097","9,699,232","4,719,170","4,980,062","253,777","121,742","132,035",2.20,"1,552,356"
1,2020.3/4,종로구,"74,861","159,842","77,391","82,451","149,952","73,024","76,928","9,890","4,367","5,523",2.00,"28,396"
2,2020.3/4,중구,"63,594","135,321","66,193","69,128","125,800","61,526","64,274","9,521","4,667","4,854",1.98,"24,265"
3,2020.3/4,용산구,"112,451","244,953","119,074","125,879","229,786","110,604","119,182","15,167","8,470","6,697",2.04,"39,995"
4,2020.3/4,성동구,"136,096","302,695","147,582","155,113","295,591","144,444","151,147","7,104","3,138","3,966",2.17,"45,372"

In [3]:
# 필요없는 컬럼 지우기
del pop['기간']
del pop['세대']
del pop['남자']
del pop['남자.1']
del pop['남자.2']
del pop['여자']
del pop['여자.1']
del pop['여자.2']
del pop['세대당인구']
pop.head()

   자치구          계        계.1      계.2   65세이상고령자
0   합계  9,953,009  9,699,232  253,777  1,552,356
1  종로구    159,842    149,952    9,890     28,396
2   중구    135,321    125,800    9,521     24,265
3  용산구    244,953    229,786   15,167     39,995
4  성동구    302,695    295,591    7,104     45,372

In [4]:
# 서울시 인구 현황 컬럼명 수정
pop.rename({'자치구': '구별', '계': '인구수', '계.1': '내국인', '계.2': '외국인',
            '65세이상고령자': '고령자'}, inplace=True, axis=1)
pop.head()

    구별        인구수        내국인      외국인        고령자
0   합계  9,953,009  9,699,232  253,777  1,552,356
1  종로구    159,842    149,952    9,890     28,396
2   중구    135,321    125,800    9,521     24,265
3  용산구    244,953    229,786   15,167     39,995
4  성동구    302,695    295,591    7,104     45,372

In [5]:
# 인구 데이터 소수점 없애기
pop['인구수'] = pop['인구수'].map(lambda s: int(s.replace(',','')))
pop['내국인'] = pop['내국인'].map(lambda s: int(s.replace(',','')))
pop['외국인'] = pop['외국인'].map(lambda s: int(s.replace(',','')))
pop['고령자'] = pop['고령자'].map(lambda s: int(s.replace(',','')))
pop.head()

    구별      인구수      내국인     외국인      고령자
0   합계  9953009  9699232  253777  1552356
1  종로구   159842   149952    9890    28396
2   중구   135321   125800    9521    24265
3  용산구   244953   229786   15167    39995
4  성동구   302695   295591    7104    45372

In [6]:
# 합계 행 없애기
pop.drop([0], inplace= True)
pop.head()

    구별     인구수     내국인    외국인    고령자
1  종로구  159842  149952   9890  28396
2   중구  135321  125800   9521  24265
3  용산구  244953  229786  15167  39995
4  성동구  302695  295591   7104  45372
5  광진구  361923  348064  13859  50047

In [7]:
# 외국인 비율 & 고령자 비율 추가 
pop['외국인비율'] = pop['외국인'] / pop['인구수'] * 100
pop['고령자비율'] = pop['고령자'] / pop['인구수'] * 100
pop.head()

    구별     인구수     내국인    외국인    고령자     외국인비율      고령자비율
1  종로구  159842  149952   9890  28396  6.187360  17.765043
2   중구  135321  125800   9521  24265  7.035863  17.931437
3  용산구  244953  229786  15167  39995  6.191800  16.327622
4  성동구  302695  295591   7104  45372  2.346917  14.989346
5  광진구  361923  348064  13859  50047  3.829268  13.828079

In [8]:
# nan값 확인
pop.isnull().values.any()

False

# 서울시 공원 데이터

In [9]:
park = pd.read_csv('./cctv/서울시 주요 공원현황.csv', sep=',',encoding='cp949')
park.head(2)

,공원번호,공원명,공원개요,면적,개원일,주요시설,주요식물,안내도,오시는길,이용시참고사항,이미지,지역,공원주소,관리부서,전화번호,X좌표(GRS80TM),Y좌표(GRS80TM),X좌표(WGS84),Y좌표(WGS84),바로가기
0,1,남산도시자연공원,남산공원은 도심에 위치하여 서울시민에게 맑은 공기를 제공하는 자연휴식처이며 산책 꽃...,2896887㎡ 임 야 : 2454140㎡ 녹지대 및 기타시설 : 442747㎡,1968.9.10,기반시설 : 광장 45950㎡ 도로 108530㎡ 산책로 6.7㎞ (북측:3.7㎞/...,소나무 단풍 아카시아 상수리나무 등 191종 2881870주,http://parks.seoul.go.kr/upload/seditorMulti/2...,명동역(남산케이블카 와룡묘 서울애니메이션센터 방면) 도보 명동역 3번출구 → 퍼시픽...,남산공원 차량통행 금지안내 2005년 5월 1일부터 남산공원에 일반승용차 택시 통행...,http://parks.seoul.go.kr/file/info/view.do?fId...,중구,서울특별시 중구 삼일대로 231(예장동),서울특별시중부푸른도시사업소,02-3783-5900,198364.107,450395.554,126.990377,37.550140,http://parks.seoul.go.kr/template/sub/namsan.do
1,3,길동생태공원,길동생태공원은 생물의 서식처를 제공하고 종다양성을 증진시키며 자연생태계의 생물들을 ...,80683㎡,1999.5.20,탐방객안내소 야외전시대 관찰대 목재데크 조류관찰대 길동생태문화센터,소나무 보리수 등 64종 31800주 산국 부들 등 138종 192800본,http://parks.seoul.go.kr/template/common/img/p...,NaN,매주 월요일은 휴관입니다 사전예약 후 입장하실 수 있습니다. ▶ 인터넷 예약 바로가...,http://parks.seoul.go.kr/file/info/view.do?fId...,강동구,서울특별시 강동구 천호대로 1291(길동생태공원),동부공원녹지사업소 길동생태공원,02-489-2770,213554.120,448852.675,127.154779,37.540394,http://parks.seoul.go.kr/template/sub/gildong.do

In [10]:
del park['공원번호']
del park['주요시설']
del park['주요식물']
del park['전화번호']
del park['공원개요']
del park['안내도']
del park['오시는길']
del park['이용시참고사항']
del park['이미지']
del park['바로가기']
park.head()

,공원명,면적,개원일,지역,공원주소,관리부서,X좌표(GRS80TM),Y좌표(GRS80TM),X좌표(WGS84),Y좌표(WGS84)
0,남산도시자연공원,2896887㎡ 임 야 : 2454140㎡ 녹지대 및 기타시설 : 442747㎡,1968.9.10,중구,서울특별시 중구 삼일대로 231(예장동),서울특별시중부푸른도시사업소,198364.107,450395.554,126.990377,37.550140
1,길동생태공원,80683㎡,1999.5.20,강동구,서울특별시 강동구 천호대로 1291(길동생태공원),동부공원녹지사업소 길동생태공원,213554.120,448852.675,127.154779,37.540394
2,서울대공원,9132690m²,1984.5.1,과천시,경기도 과천시 대공원광장로 102,전략기획실,200994.267,437163.981,127.019847,37.426449
3,서울숲,480994㎡,2005.6.18,성동구,서울특별시 성동구 뚝섬로 273 (성수동1가),서울숲 관리사무소,203695.432,449290.726,127.041798,37.543072
4,월드컵공원,2284085㎡,2002.5.1,마포구,서울특별시 마포구 하늘공원로 84(월드컵공원),월드컵공원,190658.070,451598.831,126.878907,37.571805

In [11]:
park.rename({'공원명': '공원명', '공원개요': '공원개요', '면적': '면적', '개원일': '개원일',
            '주요식물': '주요식물', '지역': '지역', '공원주소':'주소', '관리부서': '관리부서','X좌표(GRS80TM)': 'X좌표(GRS80TM)',
            'Y좌표(GRS80TM)':'Y좌표(GRS80TM)', 'X좌표(WGS84)': 'X좌표(WGS84)', 'Y좌표(WGS84)': 'Y좌표(WGS84)'}, inplace=True, axis=1)
park.head()

,공원명,면적,개원일,지역,주소,관리부서,X좌표(GRS80TM),Y좌표(GRS80TM),X좌표(WGS84),Y좌표(WGS84)
0,남산도시자연공원,2896887㎡ 임 야 : 2454140㎡ 녹지대 및 기타시설 : 442747㎡,1968.9.10,중구,서울특별시 중구 삼일대로 231(예장동),서울특별시중부푸른도시사업소,198364.107,450395.554,126.990377,37.550140
1,길동생태공원,80683㎡,1999.5.20,강동구,서울특별시 강동구 천호대로 1291(길동생태공원),동부공원녹지사업소 길동생태공원,213554.120,448852.675,127.154779,37.540394
2,서울대공원,9132690m²,1984.5.1,과천시,경기도 과천시 대공원광장로 102,전략기획실,200994.267,437163.981,127.019847,37.426449
3,서울숲,480994㎡,2005.6.18,성동구,서울특별시 성동구 뚝섬로 273 (성수동1가),서울숲 관리사무소,203695.432,449290.726,127.041798,37.543072
4,월드컵공원,2284085㎡,2002.5.1,마포구,서울특별시 마포구 하늘공원로 84(월드컵공원),월드컵공원,190658.070,451598.831,126.878907,37.571805

In [12]:
# nan값 확인
park.isnull().values.any()

True

In [13]:
# nen값 0으로 변경
park.fillna(0, inplace=True)
park.tail()

,공원명,면적,개원일,지역,주소,관리부서,X좌표(GRS80TM),Y좌표(GRS80TM),X좌표(WGS84),Y좌표(WGS84)
127,용마도시자연공원(사가정공원),109635㎡,2005.4.13,중랑구,서울특별시 중랑구 면목7동 산50,중랑구청 공원녹지과,0.000000,0.000000e+00,127.095997,37.579762
128,문화비축기지,140022㎡,2017.9.1,마포구,서울특별시 마포구 증산로 87,문화비축기지,114264.460400,3.712093e+06,126.893245,37.571718
129,경춘선숲길,211392㎡,0,0,노원구 공릉2동 산 82-2,중부공원녹지사업소,127.076482,3.762708e+01,127.076482,37.627077
130,율현공원,157535㎡,2016.11.1,강남구,서울특별시 강남구 율현동 밤고개로24길(율현동 56),동부공원녹지사업소,0.000000,0.000000e+00,127.115594,37.472332
131,서울로7017,0,0,중구,서울로7017,서울로운영단,0.000000,0.000000e+00,0.000000,0.000000

In [14]:
import folium
import googlemaps
import requests
from urllib.parse import urlparse

In [15]:
key_fd = open('../06.reapi/googlemapskey.txt', mode='r')
gmaps_key = key_fd.read(100)
key_fd.close()
gmaps = googlemaps.Client(key=gmaps_key)

In [16]:
gmaps.geocode('서울로7017', language='ko')

[{'address_components': [{'long_name': '서울로7017',
    'short_name': '서울로7017',
    'types': ['establishment',
     'park',
     'point_of_interest',
     'tourist_attraction']},
   {'long_name': '１８', 'short_name': '１８', 'types': ['premise']},
   {'long_name': '퇴계로',
    'short_name': '퇴계로',
    'types': ['political', 'sublocality', 'sublocality_level_4']},
   {'long_name': '회현동',
    'short_name': '회현동',
    'types': ['political', 'sublocality', 'sublocality_level_2']},
   {'long_name': '중구',
    'short_name': '중구',
    'types': ['political', 'sublocality', 'sublocality_level_1']},
   {'long_name': '서울특별시',
    'short_name': '서울특별시',
    'types': ['administrative_area_level_1', 'political']},
   {'long_name': '대한민국',
    'short_name': 'KR',
    'types': ['country', 'political']},
   {'long_name': '100-095',
    'short_name': '100-095',
    'types': ['postal_code']}],
  'formatted_address': '대한민국 서울특별시 중구 회현동 퇴계로 18 서울로7017',
  'geometry': {'location': {'lat': 37.5565067, 'lng': 126.9737554},
   'location_type': 'ROOFTOP',
   'viewport': {'northeast': {'lat': 37.5578556802915,
     'lng': 126.9751043802915},
    'southwest': {'lat': 37.5551577197085, 'lng': 126.9724064197085}}},
  'place_id': 'ChIJw8UIcGCifDURB0MtY-xAUqM',
  'plus_code': {'compound_code': 'HX4F+JG 대한민국 서울특별시',
   'global_code': '8Q98HX4F+JG'},
  'types': ['establishment',
   'park',
   'point_of_interest',
   'tourist_attraction']}]

In [17]:
#경찰서의 이름이 '수서서'와 같이 나타나 있으므로 '서울수서경찰서'와 같은 형태로 만들자

station_name=[]

for name in park['주소']:
    station_name.append(str(name))
    
station_name

['서울특별시 중구 삼일대로 231(예장동)',
 '서울특별시 강동구 천호대로 1291(길동생태공원) ',
 '경기도 과천시 대공원광장로 102',
 '서울특별시 성동구 뚝섬로 273 (성수동1가) ',
 '서울특별시 마포구 하늘공원로 84(월드컵공원)',
 '서울특별시 종로구 세종로 76-2',
 '서울특별시 은평구 진관동 393',
 '서울특별시 영등포구 영등포동2가 222',
 '서울특별시 성동구 금호동1가 산1-72',
 '서울특별시 강서구 등촌동 630-14',
 '서울특별시 성동구 성수2가 3동 302-25',
 '서울특별시 강동구 명일1동 288',
 '서울특별시 영등포구 여의공원로 68 (여의도동)',
 '서울특별시 동대문구 서울시립대로2길 59(간데메공원)',
 '서울특별시 중구 을지로 227',
 '서울특별시 영등포구 신길로 275',
 '서울특별시 동작구 여의대방로20길 33(보라매공원)',
 '서울특별시 광진구 능동로 216(어린이대공원)',
 '서울특별시 강동구 올림픽로 702(천호공원)',
 '서울특별시 용산구 서빙고로 185',
 '서울특별시 서대문구 통일로251(독립공원)',
 '서울특별시 종로구 낙산길 41 (우) 03085',
 '서울특별시 서초구 매헌로 99 (양재동)',
 '서울특별시 관악구 관악로 1(관악산공원)',
 '서울특별시 용산구 효창원로 177-18',
 '서울특별시 금천구 독산4동 371?375 373일대',
 '서울특별시 성북구 북악산로 949-73(돈암동 6-1)',
 '서울특별시 구로구 오류동 산13-1',
 '서울특별시 종로구 새문안로 55(신문로2가 2-1)',
 '서울특별시 동작구 사당2동 산41-2',
 '서울특별시 양천구 신정동 산44-2일대',
 '서울특별시 구로구 고척로45길 39(고척공원)',
 '서울특별시 양천구 목동동로 363 ',
 '서울특별시 강서구 허준로5길 42',
 '서울특별시 서대문구 성산로7길 19-24(궁동공원) ',
 '서울특별시 강서구 가양동 산4-7',
 '서울특별시 동작구 사당동 산32',
 '서울특별시 강서구 방화동 산110',
 '서울특별시 동작구 여의대방로 15-45(여의대방로36길 71)',
 '서울특별시 동대문구 답십리로 209(답십리공원) ',
 '서울특별시 강남구 광평로10길 30-71(대모산공원) ',
 '서울특별시 종로구 종로 99',
 '서울특별시 양천구 신정동 162-56',
 '서울특별시 송파구 마천동 산 1-1',
 '서울특별시 강남구 도곡동 산31-1',
 '서울특별시 강남구 도산대로45길 20(도산공원)',
 '서울특별시 성북구 화랑로18가길 50',
 '서울특별시 도봉구 창동 산157',
 '서울특별시 강동구 고덕2동 229',
 '서울특별시 종로구 대학로8길 1',
 '서울특별시 영등포구 의사당대로 166 (우) 07324',
 '서울특별시 송파구 장지동 산 11번지',
 '서울특별시 강동구 상일동 135',
 '서울특별시 강서구 금낭화로 176(방화공원)',
 '서울특별시 송파구 올림픽로 44 (잠실동)',
 '서울특별시 동대문구 한천로43길 12-14(배봉산공원) ',
 '서울특별시 서대문구 홍제동 산33-98',
 '서울특별시 강서구 염창동 산24-1',
 '서울특별시 서대문구 통일로 507-22(백련공원) ',
 '서울특별시 송파구 오금로 363 오금근린공원 ',
 '서울특별시 강북구 번동 산20-1',
 '서울특별시 은평구 구산동 산61',
 '서울특별시 구로구 개봉동 산2-60',
 '서울특별시 강남구 삼성동 75',
 '서울특별시 송파구 올림픽로 424 (방이동)',
 '서울특별시 종로구 와룡공원길 192 (우) 03063',
 '서울특별시 중랑구 묵동 산46-1',
 '서울특별시 종로구 부암동 산2-6',
 '서울특별시 종로구 은평구 서대문구 성북구 강북구 도봉구 일대 경기도 의정부 양주군 고양시 일대',
 '서울특별시 마포구 양화진길 46(외국인묘지공원)',
 '서울특별시 은평구 불광동 산33-1',
 '서울특별시 노원구 한글비석로12길 51-33(불암산공원) ',
 '서울특별시 중랑구 면목동 산1-4 ',
 '서울특별시 동작구 노량진로 191',
 '서울특별시 양천구 목동 199-51',
 '서울특별시 종로구 사직로9길 5',
 '서울특별시 강서구 내발산동 산4-5',
 '서울특별시 동작구 사당동 산24-17',
 '서울특별시 종로구 북촌로 134-1 (우) 03050',
 '서울특별시 종로구 옥인동 산 3-1 ',
 '서울특별시 동작구 성대로6사길 27-6(상도공원) ',
 '서울특별시 강동구 동남로 660(일자산공원)',
 '서울특별시 도봉구 쌍문동 산80',
 '서울특별시 노원구 상계동 산3-1',
 '서울특별시 송파구 잠실로 148 (잠실동) ',
 '서울특별시 영등포구 선유로 343 (당산동 1) 선유도공원관리사무소',
 '서울특별시 중구 손기정로 101 ',
 '서울특별시 성북구 돈암동 616-1055',
 '서울특별시 강서구 화곡동 산41-6',
 '서울특별시 도봉구 마들로 916(서울창포원) ',
 '서울특별시 강북구 월계로 173',
 '서울특별시 양천구 남부순환로64길 20 (신월동)',
 '서울특별시 중랑구 송림길 160(중랑캠핑숲)/중랑구 망우동 74(청소년체험의숲)',
 '서울특별시 강북구 우이동 80번지 일대',
 '서울특별시 금천구 독산동 산118-4(금천체육공원)',
 '서울특별시 금천구 시흥대로38길 61(시흥동 937-2)',
 '서울특별시 금천구 독산동 산8 일대',
 '서울특별시 도봉구 시루봉로6길 33',
 '서울특별시 도봉구 창동 28번지',
 '서울특별시 동대문구 용두동 34-1번지 일대',
 '서울특별시 마포구 상암동 1761',
 '서울특별시 마포구 창전동 3-193번지 일대(홍익대 뒷산)',
 '서울특별시 성동구 장터1길 18',
 '서울특별시 성동구 옥수동 산1-1',
 '서울특별시 송파구 문정동 18-4',
 '서울특별시 서초구 바우뫼로12길 40 (양재동)',
 '서울특별시 종로구 세종대로 189 (우) 03172',
 '서울특별시 관악구 대학동 산63-1일대 샘말공원',
 '서울특별시 도봉구 창동 산24',
 '서울특별시 구로구 연동로 240(항동81-1) 푸른수목원관리사무소',
 '서울특별시 은평구 구파발동 갈현동 진관내동',
 '서울특별시 서초구 원지동 산 33',
 '서울특별시 강서구 개화동 산17',
 '서울특별시 광진구 광장동 370',
 '서울특별시 서초구 내곡동 산12-404',
 '서울특별시 서초구 염곡동 산25-1',
 '서울특별시 서초구 우면동 산35-1',
 '서울특별시 은평구 진관동 산55',
 '서울특별시 은평구 신사동 산80-4',
 '서울특별시 중구 통일로 1 서울역',
 '서울특별시 강남구 수서동 산10-1',
 '서울특별시 강남구 청담동 66',
 '서울특별시 강동구 둔촌동 산94',
 '서울특별시 은평구 통일로 849',
 '서울특별시 중구 망우동 산 30-7 일대',
 '서울특별시 종로구 숭인동 58',
 '서울특별시 중랑구 면목동 산19',
 '서울특별시 중랑구 면목7동 산50 ',
 '서울특별시 마포구 증산로 87',
 '노원구 공릉2동 산 82-2',
 '서울특별시 강남구 율현동 밤고개로24길(율현동 56)',
 '서울로7017']

In [18]:
from tqdm import tqdm_notebook

In [19]:
# 이제 경찰서의 이름을 활용하여 주소를 받아올 수 있다.
station_address = []
station_lat = []
station_lng = []

for name in tqdm_notebook(station_name):
    tmp = gmaps.geocode(name, language='ko')
    station_address.append(tmp[0].get('formatted_address')) # 주소 추가

    tmp_loc = tmp[0].get('geometry')

    station_lat.append(tmp_loc['location']['lat']) # 위치의 위도 추가
    
    station_lng.append(tmp_loc['location']['lng']) # 위치의 경도 추가
    
    tmp_loc = tmp[0].get('geometry')
    
    print(name + '-->' + tmp[0].get('formatted_address'))

HBox(children=(FloatProgress(value=0.0, max=132.0), HTML(value='')))

서울특별시 중구 삼일대로 231(예장동)-->대한민국 서울특별시 중구 예장동 삼일대로 231
서울특별시 강동구 천호대로 1291(길동생태공원) -->대한민국 서울특별시 강동구 길동 산7-3 길동생태공원
경기도 과천시 대공원광장로 102-->대한민국 경기도 과천시 문원동 대공원광장로 102
서울특별시 성동구 뚝섬로 273 (성수동1가) -->대한민국 서울특별시 성동구 성수동1가 뚝섬로 273
서울특별시 마포구 하늘공원로 84(월드컵공원)-->대한민국 서울특별시 마포구 성산2동 월드컵로 243-60 월드컵공원
서울특별시 종로구 세종로 76-2-->대한민국 서울특별시 종로구 세종로 76-2
서울특별시 은평구 진관동 393-->대한민국 서울특별시 은평구 진관동 393
서울특별시 영등포구 영등포동2가 222-->대한민국 서울특별시 영등포구 영등포동2가 222
서울특별시 성동구 금호동1가 산1-72-->대한민국 서울특별시 성동구 금호동1가 72 응봉공원
서울특별시 강서구 등촌동 630-14-->대한민국 서울특별시 강서구 등촌동 630-14
서울특별시 성동구 성수2가 3동 302-25-->대한민국 서울특별시 성동구 성수2가3동 302-25
서울특별시 강동구 명일1동 288-->대한민국 서울특별시 강동구 명일1동 288
서울특별시 영등포구 여의공원로 68 (여의도동)-->대한민국 서울특별시 영등포구 여의도동 여의공원로 68
서울특별시 동대문구 서울시립대로2길 59(간데메공원)-->대한민국 서울특별시 동대문구 답십리동 471 간데메공원
서울특별시 중구 을지로 227-->대한민국 서울특별시 중구 을지로5가 을지로 227
서울특별시 영등포구 신길로 275-->대한민국 서울특별시 영등포구 영등포본동 신길로 275
서울특별시 동작구 여의대방로20길 33(보라매공원)-->대한민국 서울특별시 동작구 신대방2동 여의대방로20길 33 보라매공원
서울특별시 광진구 능동로 216(어린이대공원)-->대한민국 서울특별시 광진구 능동 능동로 216 어린이대공원
서울특별시 강동구 올림픽로 702(천호공원)-->대한민국 서울특별시 천호2동 서울특별시 강동구 선사로 83-66 (암사동) 광나루한강공원
서울특별시 용산구 서빙고로 185-->대한민국 서울특별시 용산구 서빙고동 서빙고로 185
서울특별시 서대문구 통일로251(독립공원)-->대한민국 서울특별시 서대문구 현저동 통일로 247 서대문독립공원
서울특별시 종로구 낙산길 41 (우) 03085-->대한민국 서울특별시 종로구 이화동 낙산길 41
서울특별시 서초구 매헌로 99 (양재동)-->대한민국 서울특별시 서초구 양재동 매헌로 99
서울특별시 관악구 관악로 1(관악산공원)-->대한민국 서울특별시 관악구 대학동 203 관악산 호수공원
서울특별시 용산구 효창원로 177-18-->대한민국 서울특별시 용산구 청파동2가 효창원로 177-18
서울특별시 금천구 독산4동 371?375 373일대-->대한민국 서울특별시 금천구 독산4동 371
서울특별시 성북구 북악산로 949-73(돈암동 6-1)-->대한민국 서울특별시 성북구 돈암동 산7-3
서울특별시 구로구 오류동 산13-1-->대한민국 서울특별시 구로구 오류동 산13-1
서울특별시 종로구 새문안로 55(신문로2가 2-1)-->대한민국 서울특별시 종로구 사직동 새문안로 55
서울특별시 동작구 사당2동 산41-2-->대한민국 서울특별시 동작구 사당동 동작대로29길 52
서울특별시 양천구 신정동 산44-2일대-->대한민국 서울특별시 양천구 신정동 산44-2
서울특별시 구로구 고척로45길 39(고척공원)-->대한민국 서울특별시 구로구 고척동 9-14 고척근린공원
서울특별시 양천구 목동동로 363 -->대한민국 서울특별시 양천구 목동 목동동로 363
서울특별시 강서구 허준로5길 42-->대한민국 서울특별시 강서구 가양2동 허준로5길
서울특별시 서대문구 성산로7길 19-24(궁동공원) -->대한민국 서울특별시 서대문구 연희동 성산로7길 19-24 궁동근린공원
서울특별시 강서구 가양동 산4-7-->대한민국 서울특별시 강서구 가양동 산4-7
서울특별시 동작구 사당동 산32-->대한민국 서울특별시 동작구 사당동 산32-2
서울특별시 강서구 방화동 산110-->대한민국 서울특별시 강서구 방화동 산110
서울특별시 동작구 여의대방로 15-45(여의대방로36길 71)-->대한민국 서울특별시 동작구 대방동 15-45
서울특별시 동대문구 답십리로 209(답십리공원) -->대한민국 서울특별시 동대문구 답십리동 답십리공원
서울특별시 강남구 광평로10길 30-71(대모산공원) -->대한민국 서울특별시 강남구 일원동 435 대모산도시자연공원
서울특별시 종로구 종로 99-->대한민국 서울특별시 종로구 종로1.2.3.4가동 종로 99
서울특별시 양천구 신정동 162-56-->대한민국 서울특별시 양천구 신정동 162-21
서울특별시 송파구 마천동 산 1-1-->대한민국 서울특별시 송파구 마천동 산1-1
서울특별시 강남구 도곡동 산31-1-->대한민국 서울특별시 강남구 도곡동 산31-1
서울특별시 강남구 도산대로45길 20(도산공원)-->대한민국 서울특별시 강남구 신사동 도산대로45길 20 도산공원
서울특별시 성북구 화랑로18가길 50-->대한민국 서울특별시 성북구 상월곡동 화랑로18가길 50
서울특별시 도봉구 창동 산157-->대한민국 서울특별시 도봉구 창동 산157
서울특별시 강동구 고덕2동 229-->대한민국 서울특별시 강동구 고덕2동 229
서울특별시 종로구 대학로8길 1-->대한민국 서울특별시 종로구 이화동 대학로8길 1
서울특별시 영등포구 의사당대로 166 (우) 07324-->대한민국 서울특별시 영등포구 여의도동 의사당대로 지하 166
서울특별시 송파구 장지동 산 11번지-->대한민국 서울특별시 송파구 장지동 산11
서울특별시 강동구 상일동 135-->대한민국 서울특별시 강동구 상일동 135
서울특별시 강서구 금낭화로 176(방화공원)-->대한민국 서울특별시 강서구 방화동
서울특별시 송파구 올림픽로 44 (잠실동)-->대한민국 서울특별시 송파구 잠실동 44
서울특별시 동대문구 한천로43길 12-14(배봉산공원) -->대한민국 서울특별시 동대문구 전농2동 전농로16길 97 배봉산근린공원
서울특별시 서대문구 홍제동 산33-98-->대한민국 서울특별시 서대문구 홍제동 산33-98
서울특별시 강서구 염창동 산24-1-->대한민국 서울특별시 강서구 염창동 산24-1
서울특별시 서대문구 통일로 507-22(백련공원) -->대한민국 서울특별시 서대문구 홍은동 통일로 507-22
서울특별시 송파구 오금로 363 오금근린공원 -->대한민국 서울특별시 오금동 서울특별시 송파구 오금로 363 (오금동) 오금공원
서울특별시 강북구 번동 산20-1-->대한민국 서울특별시 강북구 번동 산20-1
서울특별시 은평구 구산동 산61-->대한민국 서울특별시 은평구 구산동 산61
서울특별시 구로구 개봉동 산2-60-->대한민국 서울특별시 구로구 개봉동 산2-60
서울특별시 강남구 삼성동 75-->대한민국 서울특별시 강남구 삼성동 75
서울특별시 송파구 올림픽로 424 (방이동)-->대한민국 서울특별시 송파구 방이동 올림픽로 424 올림픽공원
서울특별시 종로구 와룡공원길 192 (우) 03063-->대한민국 서울특별시 종로구 명륜3가동 와룡공원길 192 와룡공원
서울특별시 중랑구 묵동 산46-1-->대한민국 서울특별시 중랑구 묵동 산46-1
서울특별시 종로구 부암동 산2-6-->대한민국 서울특별시 종로구 부암동 산2-6
서울특별시 종로구 은평구 서대문구 성북구 강북구 도봉구 일대 경기도 의정부 양주군 고양시 일대-->대한민국 서울특별시 도봉구 창동 749-9
서울특별시 마포구 양화진길 46(외국인묘지공원)-->대한민국 서울특별시 마포구 합정동 양화진길 46
서울특별시 은평구 불광동 산33-1-->대한민국 서울특별시 은평구 불광동 산33-1
서울특별시 노원구 한글비석로12길 51-33(불암산공원) -->대한민국 남양주시 별내동 불암산
서울특별시 중랑구 면목동 산1-4 -->대한민국 서울특별시 중랑구 면목동 산1-4
서울특별시 동작구 노량진로 191-->대한민국 서울특별시 동작구 노량진1동 노량진로 191
서울특별시 양천구 목동 199-51-->대한민국 서울특별시 양천구 목동 199-51
서울특별시 종로구 사직로9길 5-->대한민국 서울특별시 종로구 사직동 사직로9길 5
서울특별시 강서구 내발산동 산4-5-->대한민국 서울특별시 강서구 내발산동 산4-5
서울특별시 동작구 사당동 산24-17-->대한민국 서울특별시 동작구 사당동 산24-17
서울특별시 종로구 북촌로 134-1 (우) 03050-->대한민국 서울특별시 종로구 삼청동 북촌로 134-1
서울특별시 종로구 옥인동 산 3-1 -->대한민국 서울특별시 종로구 옥인동 산3-1
서울특별시 동작구 성대로6사길 27-6(상도공원) -->대한민국 서울특별시 동작구 상도동 산 75 상도근린공원
서울특별시 강동구 동남로 660(일자산공원)-->대한민국 서울특별시 강동구 길동 일자산자연공원
서울특별시 도봉구 쌍문동 산80-->대한민국 서울특별시 도봉구 쌍문동 산80
서울특별시 노원구 상계동 산3-1-->대한민국 서울특별시 노원구 상계동 산3-1
서울특별시 송파구 잠실로 148 (잠실동) -->대한민국 서울특별시 송파구 잠실3동 잠실로 148
서울특별시 영등포구 선유로 343 (당산동 1) 선유도공원관리사무소-->대한민국 서울특별시 영등포구 당산동 1 선유도공원
서울특별시 중구 손기정로 101 -->대한민국 서울특별시 중구 중림동 손기정로 101
서울특별시 성북구 돈암동 616-1055-->대한민국 서울특별시 성북구 돈암동 616-651
서울특별시 강서구 화곡동 산41-6-->대한민국 서울특별시 강서구 화곡동 산41-6
서울특별시 도봉구 마들로 916(서울창포원) -->대한민국 서울특별시 도봉구 도봉동 4 서울창포원
서울특별시 강북구 월계로 173-->대한민국 서울특별시 강북구 번3동 월계로 173
서울특별시 양천구 남부순환로64길 20 (신월동)-->대한민국 서울특별시 양천구 신월동 남부순환로64길 20
서울특별시 중랑구 송림길 160(중랑캠핑숲)/중랑구 망우동 74(청소년체험의숲)-->대한민국 서울특별시 중랑구 망우동 74
서울특별시 강북구 우이동 80번지 일대-->대한민국 서울특별시 강북구 우이동 80
서울특별시 금천구 독산동 산118-4(금천체육공원)-->대한민국 서울특별시 금천구 독산동 금천체육공원
서울특별시 금천구 시흥대로38길 61(시흥동 937-2)-->대한민국 서울특별시 금천구 시흥3동 시흥대로38길 61
서울특별시 금천구 독산동 산8 일대-->대한민국 서울특별시 금천구 독산동 산8
서울특별시 도봉구 시루봉로6길 33-->대한민국 서울특별시 도봉구 방학동 시루봉로6길 33
서울특별시 도봉구 창동 28번지-->대한민국 서울특별시 도봉구 창동 28
서울특별시 동대문구 용두동 34-1번지 일대-->대한민국 서울특별시 동대문구 용두동 34-1
서울특별시 마포구 상암동 1761-->대한민국 서울특별시 마포구 상암동
서울특별시 마포구 창전동 3-193번지 일대(홍익대 뒷산)-->대한민국 서울특별시 마포구 상수동 와우산로 94
서울특별시 성동구 장터1길 18-->대한민국 서울특별시 성동구 금호2.3가동 장터1길 18
서울특별시 성동구 옥수동 산1-1-->대한민국 서울특별시 성동구 옥수동 산1-1
서울특별시 송파구 문정동 18-4-->대한민국 서울특별시 송파구 문정동 18-4
서울특별시 서초구 바우뫼로12길 40 (양재동)-->대한민국 서울특별시 서초구 양재동 바우뫼로12길 40
서울특별시 종로구 세종대로 189 (우) 03172-->대한민국 서울특별시 종로구 종로1.2.3.4가동 세종대로 지하 189
서울특별시 관악구 대학동 산63-1일대 샘말공원-->대한민국 서울특별시 관악구 신림동 신림로 샘말공원
서울특별시 도봉구 창동 산24-->대한민국 서울특별시 도봉구 창동 산24
서울특별시 구로구 연동로 240(항동81-1) 푸른수목원관리사무소-->대한민국 서울특별시 구로구 항동 96-4 푸른수목원
서울특별시 은평구 구파발동 갈현동 진관내동-->대한민국 서울특별시 은평구 갈현동
서울특별시 서초구 원지동 산 33-->대한민국 서울특별시 서초구 원지동 산33
서울특별시 강서구 개화동 산17-->대한민국 서울특별시 강서구 방화동 산17-2
서울특별시 광진구 광장동 370-->대한민국 서울특별시 광진구 광장동 370
서울특별시 서초구 내곡동 산12-404-->대한민국 서울특별시 서초구 내곡동 산12-404
서울특별시 서초구 염곡동 산25-1-->대한민국 서울특별시 서초구 염곡동 산25-1
서울특별시 서초구 우면동 산35-1-->대한민국 서울특별시 서초구 우면동 산35-1
서울특별시 은평구 진관동 산55-->대한민국 서울특별시 은평구 진관동 산55
서울특별시 은평구 신사동 산80-4-->대한민국 서울특별시 은평구 신사동 산80-4
서울특별시 중구 통일로 1 서울역-->대한민국 서울특별시 중구 봉래동2가 통일로 1
서울특별시 강남구 수서동 산10-1-->대한민국 서울특별시 강남구 수서동 산10-1
서울특별시 강남구 청담동 66-->대한민국 서울특별시 강남구 청담동 66
서울특별시 강동구 둔촌동 산94-->대한민국 서울특별시 강동구 둔촌동 산94
서울특별시 은평구 통일로 849-->대한민국 서울특별시 은평구 갈현동 통일로 지하 849
서울특별시 중구 망우동 산 30-7 일대-->대한민국 서울특별시 중구
서울특별시 종로구 숭인동 58-->대한민국 서울특별시 종로구 숭인동 58
서울특별시 중랑구 면목동 산19-->대한민국 서울특별시 중랑구 면목동 산19
서울특별시 중랑구 면목7동 산50 -->대한민국 서울특별시 중랑구 면목동 산50
서울특별시 마포구 증산로 87-->대한민국 서울특별시 마포구 성산동 증산로 87 문화비축기지
노원구 공릉2동 산 82-2-->대한민국 서울특별시 노원구 공릉2동 산82-2
서울특별시 강남구 율현동 밤고개로24길(율현동 56)-->대한민국 서울특별시 강남구 율현동 밤고개로24길
서울로7017-->대한민국 서울특별시 중구 회현동 퇴계로 18 서울로7017

In [20]:
station_address[:5]

['대한민국 서울특별시 중구 예장동 삼일대로 231',
 '대한민국 서울특별시 강동구 길동 산7-3 길동생태공원',
 '대한민국 경기도 과천시 문원동 대공원광장로 102',
 '대한민국 서울특별시 성동구 성수동1가 뚝섬로 273',
 '대한민국 서울특별시 마포구 성산2동 월드컵로 243-60 월드컵공원']

In [21]:
gu_name=[]

for name in range(len(station_address)):
    tmp = station_address[name].split()[2]

print(tmp)

중구

In [22]:
# 주소를 쪼갠다음 '구'가 들어있는 단어만 뽑아내어 '구별'이라는 컬럼에 추가해준다.
gu_name=[]

for name in range(len(station_address)):
    tmp = station_address[name].split()[2]
    
    gu_name.append(tmp)
gu_name

['중구',
 '강동구',
 '과천시',
 '성동구',
 '마포구',
 '종로구',
 '은평구',
 '영등포구',
 '성동구',
 '강서구',
 '성동구',
 '강동구',
 '영등포구',
 '동대문구',
 '중구',
 '영등포구',
 '동작구',
 '광진구',
 '천호2동',
 '용산구',
 '서대문구',
 '종로구',
 '서초구',
 '관악구',
 '용산구',
 '금천구',
 '성북구',
 '구로구',
 '종로구',
 '동작구',
 '양천구',
 '구로구',
 '양천구',
 '강서구',
 '서대문구',
 '강서구',
 '동작구',
 '강서구',
 '동작구',
 '동대문구',
 '강남구',
 '종로구',
 '양천구',
 '송파구',
 '강남구',
 '강남구',
 '성북구',
 '도봉구',
 '강동구',
 '종로구',
 '영등포구',
 '송파구',
 '강동구',
 '강서구',
 '송파구',
 '동대문구',
 '서대문구',
 '강서구',
 '서대문구',
 '오금동',
 '강북구',
 '은평구',
 '구로구',
 '강남구',
 '송파구',
 '종로구',
 '중랑구',
 '종로구',
 '도봉구',
 '마포구',
 '은평구',
 '별내동',
 '중랑구',
 '동작구',
 '양천구',
 '종로구',
 '강서구',
 '동작구',
 '종로구',
 '종로구',
 '동작구',
 '강동구',
 '도봉구',
 '노원구',
 '송파구',
 '영등포구',
 '중구',
 '성북구',
 '강서구',
 '도봉구',
 '강북구',
 '양천구',
 '중랑구',
 '강북구',
 '금천구',
 '금천구',
 '금천구',
 '도봉구',
 '도봉구',
 '동대문구',
 '마포구',
 '마포구',
 '성동구',
 '성동구',
 '송파구',
 '서초구',
 '종로구',
 '관악구',
 '도봉구',
 '구로구',
 '은평구',
 '서초구',
 '강서구',
 '광진구',
 '서초구',
 '서초구',
 '서초구',
 '은평구',
 '은평구',
 '중구',
 '강남구',
 '강남구',
 '강동구',
 '은평구',
 '중구',
 '종로구',
 '중랑구',
 '중랑구',
 '마포구',
 '노원구',
 '강남구',
 '중구']

In [23]:
park['구별'] = gu_name
park.head()

,공원명,면적,개원일,지역,주소,관리부서,X좌표(GRS80TM),Y좌표(GRS80TM),X좌표(WGS84),Y좌표(WGS84),구별
0,남산도시자연공원,2896887㎡ 임 야 : 2454140㎡ 녹지대 및 기타시설 : 442747㎡,1968.9.10,중구,서울특별시 중구 삼일대로 231(예장동),서울특별시중부푸른도시사업소,198364.107,450395.554,126.990377,37.550140,중구
1,길동생태공원,80683㎡,1999.5.20,강동구,서울특별시 강동구 천호대로 1291(길동생태공원),동부공원녹지사업소 길동생태공원,213554.120,448852.675,127.154779,37.540394,강동구
2,서울대공원,9132690m²,1984.5.1,과천시,경기도 과천시 대공원광장로 102,전략기획실,200994.267,437163.981,127.019847,37.426449,과천시
3,서울숲,480994㎡,2005.6.18,성동구,서울특별시 성동구 뚝섬로 273 (성수동1가),서울숲 관리사무소,203695.432,449290.726,127.041798,37.543072,성동구
4,월드컵공원,2284085㎡,2002.5.1,마포구,서울특별시 마포구 하늘공원로 84(월드컵공원),월드컵공원,190658.070,451598.831,126.878907,37.571805,마포구

In [24]:
station_lat[:5]

[37.5555891, 37.5410211, 37.4362233, 37.54316439999999, 37.5639074]

In [25]:
#경도
station_lng[:5]

[126.9922104, 127.1562098, 127.0140581, 127.0418547, 126.8973166]

In [26]:
park['lat'] = station_lat
park['lng'] = station_lng
park.head()

,공원명,면적,개원일,지역,주소,관리부서,X좌표(GRS80TM),Y좌표(GRS80TM),X좌표(WGS84),Y좌표(WGS84),구별,lat,lng
0,남산도시자연공원,2896887㎡ 임 야 : 2454140㎡ 녹지대 및 기타시설 : 442747㎡,1968.9.10,중구,서울특별시 중구 삼일대로 231(예장동),서울특별시중부푸른도시사업소,198364.107,450395.554,126.990377,37.550140,중구,37.555589,126.992210
1,길동생태공원,80683㎡,1999.5.20,강동구,서울특별시 강동구 천호대로 1291(길동생태공원),동부공원녹지사업소 길동생태공원,213554.120,448852.675,127.154779,37.540394,강동구,37.541021,127.156210
2,서울대공원,9132690m²,1984.5.1,과천시,경기도 과천시 대공원광장로 102,전략기획실,200994.267,437163.981,127.019847,37.426449,과천시,37.436223,127.014058
3,서울숲,480994㎡,2005.6.18,성동구,서울특별시 성동구 뚝섬로 273 (성수동1가),서울숲 관리사무소,203695.432,449290.726,127.041798,37.543072,성동구,37.543164,127.041855
4,월드컵공원,2284085㎡,2002.5.1,마포구,서울특별시 마포구 하늘공원로 84(월드컵공원),월드컵공원,190658.070,451598.831,126.878907,37.571805,마포구,37.563907,126.897317