In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib inline

## 한글 폰트 사용
# 폰트 설정
mpl.rc('font', family='Malgun Gothic') #family에 사용할 폰트를 넣음
# 유니코드에서  음수 부호설정
mpl.rc('axes', unicode_minus=False)

## 우리나라 인구 소멸 위기 지역 분석

In [2]:
import platform

path = "c:/Windows/Fonts/malgun.ttf"

In [3]:
population = pd.read_csv('./data/성별, 연령별 인구 - 시군구(2019).csv', sep=',', encoding='cp949')
population.head()

,광역시도,시군구,행정구,구분,합계,15세미만,15~19세,20~24세,25~29세,30~34세,...,40~44세,45~49세,50~54세,55~59세,60~64세,65~69세,70~74세,75~79세,80~84세,85세이상
0,서울,소계,NaN,계,9096901,983091,402343,548245,768413,687804,...,677660,782455,731258,728273,664875,465250,370242,280007,163363,96792
1,서울,소계,NaN,남자,4386287,505543,201751,233761,377349,341858,...,335606,385491,354886,349208,313417,218378,170303,126711,66754,30757
2,서울,소계,NaN,여자,4710614,477548,200592,314484,391064,345946,...,342054,396964,376372,379065,351458,246872,199939,153296,96609,66035
3,서울,종로구,NaN,계,136649,12204,5801,9816,11972,9459,...,9034,11784,11462,11781,10125,7057,5960,5277,3341,2065
4,서울,종로구,NaN,남자,65594,6183,2803,4230,6167,4747,...,4341,5709,5511,5773,5021,3369,2659,2290,1387,747

In [4]:
# 결측치를 nan처리 하지 않고, 그 앞의 내용들로 채우게끔 처리
# 즉, method = 'pad'로 설정해서 결측치를 앞 방향으로 채우기
population.fillna(method='pad', inplace=True)
population.head()

,광역시도,시군구,행정구,구분,합계,15세미만,15~19세,20~24세,25~29세,30~34세,...,40~44세,45~49세,50~54세,55~59세,60~64세,65~69세,70~74세,75~79세,80~84세,85세이상
0,서울,소계,NaN,계,9096901,983091,402343,548245,768413,687804,...,677660,782455,731258,728273,664875,465250,370242,280007,163363,96792
1,서울,소계,NaN,남자,4386287,505543,201751,233761,377349,341858,...,335606,385491,354886,349208,313417,218378,170303,126711,66754,30757
2,서울,소계,NaN,여자,4710614,477548,200592,314484,391064,345946,...,342054,396964,376372,379065,351458,246872,199939,153296,96609,66035
3,서울,종로구,NaN,계,136649,12204,5801,9816,11972,9459,...,9034,11784,11462,11781,10125,7057,5960,5277,3341,2065
4,서울,종로구,NaN,남자,65594,6183,2803,4230,6167,4747,...,4341,5709,5511,5773,5021,3369,2659,2290,1387,747

In [5]:
population.rename(columns= {'합계':'인구수'}, inplace=True)
population.head()

,광역시도,시군구,행정구,구분,인구수,15세미만,15~19세,20~24세,25~29세,30~34세,...,40~44세,45~49세,50~54세,55~59세,60~64세,65~69세,70~74세,75~79세,80~84세,85세이상
0,서울,소계,NaN,계,9096901,983091,402343,548245,768413,687804,...,677660,782455,731258,728273,664875,465250,370242,280007,163363,96792
1,서울,소계,NaN,남자,4386287,505543,201751,233761,377349,341858,...,335606,385491,354886,349208,313417,218378,170303,126711,66754,30757
2,서울,소계,NaN,여자,4710614,477548,200592,314484,391064,345946,...,342054,396964,376372,379065,351458,246872,199939,153296,96609,66035
3,서울,종로구,NaN,계,136649,12204,5801,9816,11972,9459,...,9034,11784,11462,11781,10125,7057,5960,5277,3341,2065
4,서울,종로구,NaN,남자,65594,6183,2803,4230,6167,4747,...,4341,5709,5511,5773,5021,3369,2659,2290,1387,747

In [6]:
# '시군구'컬럼에서 소계 부분 제외
population = population[(population['시군구'] != '소계')]
population.head()

,광역시도,시군구,행정구,구분,인구수,15세미만,15~19세,20~24세,25~29세,30~34세,...,40~44세,45~49세,50~54세,55~59세,60~64세,65~69세,70~74세,75~79세,80~84세,85세이상
3,서울,종로구,NaN,계,136649,12204,5801,9816,11972,9459,...,9034,11784,11462,11781,10125,7057,5960,5277,3341,2065
4,서울,종로구,NaN,남자,65594,6183,2803,4230,6167,4747,...,4341,5709,5511,5773,5021,3369,2659,2290,1387,747
5,서울,종로구,NaN,여자,71055,6021,2998,5586,5805,4712,...,4693,6075,5951,6008,5104,3688,3301,2987,1954,1318
6,서울,중구,NaN,계,115665,9839,3896,7511,10304,9636,...,7836,8903,9313,9786,9002,6211,5077,4201,2581,1695
7,서울,중구,NaN,남자,55820,4988,1896,3103,5115,4790,...,4054,4423,4587,4830,4430,2998,2295,1795,1003,523

In [7]:
# 계를 합계로 변경/ 데이터 처리에서 copy 관련 warning을 피하기 위해 .copy() 옵션으로 재지정
population.is_copy = False
population.loc[population['구분'] == '계', '구분'] = '합계'
population.head()

,광역시도,시군구,행정구,구분,인구수,15세미만,15~19세,20~24세,25~29세,30~34세,...,40~44세,45~49세,50~54세,55~59세,60~64세,65~69세,70~74세,75~79세,80~84세,85세이상
3,서울,종로구,NaN,합계,136649,12204,5801,9816,11972,9459,...,9034,11784,11462,11781,10125,7057,5960,5277,3341,2065
4,서울,종로구,NaN,남자,65594,6183,2803,4230,6167,4747,...,4341,5709,5511,5773,5021,3369,2659,2290,1387,747
5,서울,종로구,NaN,여자,71055,6021,2998,5586,5805,4712,...,4693,6075,5951,6008,5104,3688,3301,2987,1954,1318
6,서울,중구,NaN,합계,115665,9839,3896,7511,10304,9636,...,7836,8903,9313,9786,9002,6211,5077,4201,2581,1695
7,서울,중구,NaN,남자,55820,4988,1896,3103,5115,4790,...,4054,4423,4587,4830,4430,2998,2295,1795,1003,523

In [10]:
population['시군구'] = population['시군구'].replace(' ', '')
population['행정구'] = population['행정구'].replace(' ', '')
population.head()

,광역시도,시군구,행정구,구분,인구수,15세미만,15~19세,20~24세,25~29세,30~34세,...,40~44세,45~49세,50~54세,55~59세,60~64세,65~69세,70~74세,75~79세,80~84세,85세이상
3,서울,종로구,NaN,합계,136649,12204,5801,9816,11972,9459,...,9034,11784,11462,11781,10125,7057,5960,5277,3341,2065
4,서울,종로구,NaN,남자,65594,6183,2803,4230,6167,4747,...,4341,5709,5511,5773,5021,3369,2659,2290,1387,747
5,서울,종로구,NaN,여자,71055,6021,2998,5586,5805,4712,...,4693,6075,5951,6008,5104,3688,3301,2987,1954,1318
6,서울,중구,NaN,합계,115665,9839,3896,7511,10304,9636,...,7836,8903,9313,9786,9002,6211,5077,4201,2581,1695
7,서울,중구,NaN,남자,55820,4988,1896,3103,5115,4790,...,4054,4423,4587,4830,4430,2998,2295,1795,1003,523

In [ ]:
pd.to_csv

## 인구 소멸 위기 지역 계산하고 데이터 정리

In [8]:
population['20-39세'] = population['20~24세'] + population['25~29세'] + population['30~34세'] + population['35~39세']
population['65세이상'] = population['65~69세'] + population['70~74세'] + population['75~79세'] + population['80~84세'] + population['85세이상']
population.head(10)

,광역시도,시군구,행정구,구분,인구수,15세미만,15~19세,20~24세,25~29세,30~34세,...,50~54세,55~59세,60~64세,65~69세,70~74세,75~79세,80~84세,85세이상,20-39세,65세이상
3,서울,종로구,NaN,합계,136649,12204,5801,9816,11972,9459,...,11462,11781,10125,7057,5960,5277,3341,2065,40758,23700
4,서울,종로구,NaN,남자,65594,6183,2803,4230,6167,4747,...,5511,5773,5021,3369,2659,2290,1387,747,19801,10452
5,서울,종로구,NaN,여자,71055,6021,2998,5586,5805,4712,...,5951,6008,5104,3688,3301,2987,1954,1318,20957,13248
6,서울,중구,NaN,합계,115665,9839,3896,7511,10304,9636,...,9313,9786,9002,6211,5077,4201,2581,1695,37325,19765
7,서울,중구,NaN,남자,55820,4988,1896,3103,5115,4790,...,4587,4830,4430,2998,2295,1795,1003,523,17998,8614
8,서울,중구,NaN,여자,59845,4851,2000,4408,5189,4846,...,4726,4956,4572,3213,2782,2406,1578,1172,19327,11151
9,서울,용산구,NaN,합계,204196,19559,7501,11472,17506,17246,...,16489,16246,14708,9927,8197,7027,4763,3009,64265,32923
10,서울,용산구,NaN,남자,97390,10065,3759,4330,8410,8569,...,8072,7884,7103,4649,3653,2997,1831,998,30377,14128
11,서울,용산구,NaN,여자,106806,9494,3742,7142,9096,8677,...,8417,8362,7605,5278,4544,4030,2932,2011,33888,18795
12,서울,성동구,NaN,합계,283330,30197,10671,18283,24581,23496,...,22648,23060,20026,13394,10709,8671,5088,2895,91871,40757

In [9]:
pop = pd.pivot_table(population,
            index= ['광역시도', '시군구'],
            columns= ['구분'],
            values= ['인구수','20-39세','65세이상'])
pop.head()

            20-39세                      65세이상                         인구수  \
구분              남자       여자       합계       남자       여자       합계        남자
광역시도 시군구
강원    강릉시  25015.0  20993.0  46008.0  17378.0  23119.0  40497.0  101154.0
      고성군   2307.0   1699.0   4006.0   2957.0   4048.0   7005.0   11933.0
      동해시   8801.0   7510.0  16311.0   7075.0   9077.0  16152.0   42093.0
      삼척시   7148.0   5280.0  12428.0   6314.0   8639.0  14953.0   31630.0
      속초시   8517.0   7411.0  15928.0   5866.0   8144.0  14010.0   37488.0


구분               여자        합계
광역시도 시군구
강원    강릉시  101903.0  203057.0
      고성군   11688.0   23621.0
      동해시   41795.0   83888.0
      삼척시   30203.0   61833.0
      속초시   38814.0   76302.0

In [10]:
# 인구 소멸비율 계산
pop['소멸비율'] = pop['20-39세','여자'] / (pop['65세이상','합계'] / 2)
pop.head()

            20-39세                      65세이상                         인구수  \
구분              남자       여자       합계       남자       여자       합계        남자
광역시도 시군구
강원    강릉시  25015.0  20993.0  46008.0  17378.0  23119.0  40497.0  101154.0
      고성군   2307.0   1699.0   4006.0   2957.0   4048.0   7005.0   11933.0
      동해시   8801.0   7510.0  16311.0   7075.0   9077.0  16152.0   42093.0
      삼척시   7148.0   5280.0  12428.0   6314.0   8639.0  14953.0   31630.0
      속초시   8517.0   7411.0  15928.0   5866.0   8144.0  14010.0   37488.0

                                   소멸비율
구분               여자        합계
광역시도 시군구
강원    강릉시  101903.0  203057.0  1.036768
      고성군   11688.0   23621.0  0.485082
      동해시   41795.0   83888.0  0.929916
      삼척시   30203.0   61833.0  0.706213
      속초시   38814.0   76302.0  1.057959

In [11]:
# 인구 소멸위기 지역 계산
# 소멸비율이 1 이하면 소멸 위기지역이라고 기록
pop['소멸위기지역'] = pop['소멸비율'] < 1.0
pop.head()

            20-39세                      65세이상                         인구수  \
구분              남자       여자       합계       남자       여자       합계        남자
광역시도 시군구
강원    강릉시  25015.0  20993.0  46008.0  17378.0  23119.0  40497.0  101154.0
      고성군   2307.0   1699.0   4006.0   2957.0   4048.0   7005.0   11933.0
      동해시   8801.0   7510.0  16311.0   7075.0   9077.0  16152.0   42093.0
      삼척시   7148.0   5280.0  12428.0   6314.0   8639.0  14953.0   31630.0
      속초시   8517.0   7411.0  15928.0   5866.0   8144.0  14010.0   37488.0

                                   소멸비율 소멸위기지역
구분               여자        합계
광역시도 시군구
강원    강릉시  101903.0  203057.0  1.036768  False
      고성군   11688.0   23621.0  0.485082   True
      동해시   41795.0   83888.0  0.929916   True
      삼척시   30203.0   61833.0  0.706213   True
      속초시   38814.0   76302.0  1.057959  False

In [12]:
## df.index.get_level_values(level = None) 또는 df.index.get_level_values('컬럼명')
## df.index.get_level_values(level = 1): df라는 데이터 프레임에서 두 번째 인덱스에 대한 값들을 가져오겠다는 의미
## df.index.get_level_values('A'): df라는 데이터 프레임에서 'A'라는 컬럼의 값들을 가져오겠다는 의미

# 소멸위기 분류된 지역 리스트로 뽑기
pop[pop['소멸위기지역'] == True].index.get_level_values(1)

Index([' 고성군', ' 동해시', ' 삼척시', ' 양구군', ' 양양군', ' 영월군', ' 인제군', ' 정선군', ' 철원군',
       ' 태백시', ' 평창군', ' 홍천군', ' 화천군', ' 횡성군', ' 가평군', ' 양평군', ' 여주시', ' 연천군',
       ' 거창군', ' 고성군', ' 남해군', ' 밀양시', ' 사천시', ' 산청군', ' 의령군', ' 창녕군', ' 하동군',
       ' 함안군', ' 함양군', ' 합천군', ' 경주시', ' 고령군', ' 군위군', ' 김천시', ' 문경시', ' 봉화군',
       ' 상주시', ' 성주군', ' 안동시', ' 영덕군', ' 영양군', ' 영주시', ' 영천시', ' 예천군', ' 울릉군',
       ' 울진군', ' 의성군', ' 청도군', ' 청송군', ' 동구', ' 영도구', ' 중구', ' 강화군', ' 옹진군',
       ' 강진군', ' 고흥군', ' 곡성군', ' 구례군', ' 담양군', ' 보성군', ' 신안군', ' 영광군', ' 영암군',
       ' 완도군', ' 장성군', ' 장흥군', ' 진도군', ' 함평군', ' 해남군', ' 화순군', ' 고창군', ' 김제시',
       ' 남원시', ' 무주군', ' 부안군', ' 순창군', ' 완주군', ' 임실군', ' 장수군', ' 정읍시', ' 진안군',
       ' 공주시', ' 금산군', ' 논산시', ' 보령시', ' 부여군', ' 서천군', ' 예산군', ' 청양군', ' 태안군',
       ' 홍성군', ' 괴산군', ' 단양군', ' 보은군', ' 영동군', ' 옥천군', ' 제천시'],
      dtype='object', name='시군구')

In [13]:
# reset_index를 사용하여 기존의 행 인덱스를 제거하고, 인덱스를 데이터 열로 추가
# 원래는 행 인덱스인 '광역시도'와 '시도'를 데이터의 컬럼(열)들로 추가
pop.reset_index(inplace=True)
pop.head()

   광역시도   시군구   20-39세                      65세이상                         인구수  \
구분                  남자       여자       합계       남자       여자       합계        남자
0    강원   강릉시  25015.0  20993.0  46008.0  17378.0  23119.0  40497.0  101154.0
1    강원   고성군   2307.0   1699.0   4006.0   2957.0   4048.0   7005.0   11933.0
2    강원   동해시   8801.0   7510.0  16311.0   7075.0   9077.0  16152.0   42093.0
3    강원   삼척시   7148.0   5280.0  12428.0   6314.0   8639.0  14953.0   31630.0
4    강원   속초시   8517.0   7411.0  15928.0   5866.0   8144.0  14010.0   37488.0

                            소멸비율 소멸위기지역
구분        여자        합계
0   101903.0  203057.0  1.036768  False
1    11688.0   23621.0  0.485082   True
2    41795.0   83888.0  0.929916   True
3    30203.0   61833.0  0.706213   True
4    38814.0   76302.0  1.057959  False

In [14]:
# 다단으로 구성된 index를 다시 초기화
tmp_coloumns = [pop.columns.get_level_values(0)[n] + pop.columns.get_level_values(1)[n] for n in range(0, len(pop.columns.get_level_values(0)))]
# index가 초기화된 컬럼들로 다시 변경 = 다단으로 표시된 컬럼을 하나로 합침
pop.columns = tmp_coloumns
pop.head()

,광역시도,시군구,20-39세남자,20-39세여자,20-39세합계,65세이상남자,65세이상여자,65세이상합계,인구수남자,인구수여자,인구수합계,소멸비율,소멸위기지역
0,강원,강릉시,25015.0,20993.0,46008.0,17378.0,23119.0,40497.0,101154.0,101903.0,203057.0,1.036768,False
1,강원,고성군,2307.0,1699.0,4006.0,2957.0,4048.0,7005.0,11933.0,11688.0,23621.0,0.485082,True
2,강원,동해시,8801.0,7510.0,16311.0,7075.0,9077.0,16152.0,42093.0,41795.0,83888.0,0.929916,True
3,강원,삼척시,7148.0,5280.0,12428.0,6314.0,8639.0,14953.0,31630.0,30203.0,61833.0,0.706213,True
4,강원,속초시,8517.0,7411.0,15928.0,5866.0,8144.0,14010.0,37488.0,38814.0,76302.0,1.057959,False

In [15]:
# 최종 정리된 데이터(pop)의 요약 정보를 확인해보기
# 인구수 관련 변수들은 '숫자형', '소멸위기지역' 변수는 'bool형'인 것을 확인
pop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229 entries, 0 to 228
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   광역시도      229 non-null    object
 1   시군구       229 non-null    object
 2   20-39세남자  229 non-null    float64
 3   20-39세여자  229 non-null    float64
 4   20-39세합계  229 non-null    float64
 5   65세이상남자   229 non-null    float64
 6   65세이상여자   229 non-null    float64
 7   65세이상합계   229 non-null    float64
 8   인구수남자     229 non-null    float64
 9   인구수여자     229 non-null    float64
 10  인구수합계     229 non-null    float64
 11  소멸비율      229 non-null    float64
 12  소멸위기지역    229 non-null    bool
dtypes: bool(1), float64(10), object(2)
memory usage: 21.8+ KB

## 대한민국 지도 그리는 방법에 대한 소개

### 지도 시각화를 위해 지역별 고유 id만들기

In [16]:
pop['시군구'].unique()

array([' 강릉시', ' 고성군', ' 동해시', ' 삼척시', ' 속초시', ' 양구군', ' 양양군', ' 영월군',
       ' 원주시', ' 인제군', ' 정선군', ' 철원군', ' 춘천시', ' 태백시', ' 평창군', ' 홍천군',
       ' 화천군', ' 횡성군', ' 가평군', ' 고양시', ' 과천시', ' 광명시', ' 광주시', ' 구리시',
       ' 군포시', ' 김포시', ' 남양주시', ' 동두천시', ' 부천시', ' 성남시', ' 수원시', ' 시흥시',
       ' 안산시', ' 안성시', ' 안양시', ' 양주시', ' 양평군', ' 여주시', ' 연천군', ' 오산시',
       ' 용인시', ' 의왕시', ' 의정부시', ' 이천시', ' 파주시', ' 평택시', ' 포천시', ' 하남시',
       ' 화성시', ' 거제시', ' 거창군', ' 김해시', ' 남해군', ' 밀양시', ' 사천시', ' 산청군',
       ' 양산시', ' 의령군', ' 진주시', ' 창녕군', ' 창원시', ' 통영시', ' 하동군', ' 함안군',
       ' 함양군', ' 합천군', ' 경산시', ' 경주시', ' 고령군', ' 구미시', ' 군위군', ' 김천시',
       ' 문경시', ' 봉화군', ' 상주시', ' 성주군', ' 안동시', ' 영덕군', ' 영양군', ' 영주시',
       ' 영천시', ' 예천군', ' 울릉군', ' 울진군', ' 의성군', ' 청도군', ' 청송군', ' 칠곡군',
       ' 포항시', ' 광산구', ' 남구', ' 동구', ' 북구', ' 서구', ' 달서구', ' 달성군', ' 수성구',
       ' 중구', ' 대덕구', ' 유성구', ' 강서구', ' 금정구', ' 기장군', ' 동래구', ' 부산진구',
       ' 사상구', ' 사하구', ' 수영구', ' 연제구', ' 영도구', ' 해운대구', ' 강남구', ' 강동구',
       ' 강북구', ' 관악구', ' 광진구', ' 구로구', ' 금천구', ' 노원구', ' 도봉구', ' 동대문구',
       ' 동작구', ' 마포구', ' 서대문구', ' 서초구', ' 성동구', ' 성북구', ' 송파구', ' 양천구',
       ' 영등포구', ' 용산구', ' 은평구', ' 종로구', ' 중랑구', ' 세종시', ' 울주군', ' 강화군',
       ' 계양구', ' 남동구', ' 미추홀구', ' 부평구', ' 연수구', ' 옹진군', ' 강진군', ' 고흥군',
       ' 곡성군', ' 광양시', ' 구례군', ' 나주시', ' 담양군', ' 목포시', ' 무안군', ' 보성군',
       ' 순천시', ' 신안군', ' 여수시', ' 영광군', ' 영암군', ' 완도군', ' 장성군', ' 장흥군',
       ' 진도군', ' 함평군', ' 해남군', ' 화순군', ' 고창군', ' 군산시', ' 김제시', ' 남원시',
       ' 무주군', ' 부안군', ' 순창군', ' 완주군', ' 익산시', ' 임실군', ' 장수군', ' 전주시',
       ' 정읍시', ' 진안군', ' 서귀포시', ' 제주시', ' 계룡시', ' 공주시', ' 금산군', ' 논산시',
       ' 당진시', ' 보령시', ' 부여군', ' 서산시', ' 서천군', ' 아산시', ' 예산군', ' 천안시',
       ' 청양군', ' 태안군', ' 홍성군', ' 괴산군', ' 단양군', ' 보은군', ' 영동군', ' 옥천군',
       ' 음성군', ' 제천시', ' 증평군', ' 진천군', ' 청주시', ' 충주시'], dtype=object)

In [23]:
# '시'를 담을 리스트를 len(pop)만큼 생성
si_name = [None] * len(pop)

tmp_gu_dict = {'수원': ['장안구', '권선구', '팔달구', '영통구'],
                '성남': ['수정구', '중원구', '분당구'],
                '안양': ['만안구', '동안구'],
                '안산': ['상록구', '단원구'],
                '고양': ['덕양구', '일산동구', '일산서구'],
                '용인': ['처인구', '기흥구', '수지구'],
                '청주': ['상당구', '서원구', '흥덕구', '청원구'],
                '천안': ['동남구', '서북구'],
                '전주': ['완산구', '던진구'],
                '포항': ['남구', '북구'],
                '창원': ['의창구', '성산구', '진해구', '마산합포구', '마산회원구']}

In [24]:
for n in pop.index:
    if pop['광역시도'][n][-3:] not in ['광역시', '특별시', '자치시']:
        if pop['시군구'][n][:-1]=='고성' and pop['광역시도'][n]=='강원도':
            si_name[n] = '고성(강원)'
        elif pop['시군구'][n][:-1]=='고성' and pop['광역시도'][n]=='경상남도':
            si_name[n] = '고성(경남)'
        else:
            si_name[n] = pop['시군구'][n][:-1]
        
        for keys, values in tmp_gu_dict.items():
            if pop['시군구'][n] in values:
                if len(pop['시군구'][n])==2:
                    si_name[n] = keys + ' ' + pop['시군구'][n]
                elif pop['시군구'][n] in ['마산합포구','마산회원구']:
                    si_name[n] = keys + ' ' + pop['시군구'][n][2:-1]
                else:
                    si_name[n] = keys + ' ' + pop['시군구'][n][:-1]
    elif pop['광역시도'][n] == '세종특별자치시':
        si_name[n] = '세종'
    else:
        if len(pop['시군구'][n])==2:
            si_name[n] = pop['광역시도'][n][:2] + ' ' + pop['시도'][n]
        else:
            si_name[n] = pop['광역시도'][n][:2] + ' ' + pop['시도'][n]

In [25]:
si_name

[' 강릉',
 ' 고성',
 ' 동해',
 ' 삼척',
 ' 속초',
 ' 양구',
 ' 양양',
 ' 영월',
 ' 원주',
 ' 인제',
 ' 정선',
 ' 철원',
 ' 춘천',
 ' 태백',
 ' 평창',
 ' 홍천',
 ' 화천',
 ' 횡성',
 ' 가평',
 ' 고양',
 ' 과천',
 ' 광명',
 ' 광주',
 ' 구리',
 ' 군포',
 ' 김포',
 ' 남양주',
 ' 동두천',
 ' 부천',
 ' 성남',
 ' 수원',
 ' 시흥',
 ' 안산',
 ' 안성',
 ' 안양',
 ' 양주',
 ' 양평',
 ' 여주',
 ' 연천',
 ' 오산',
 ' 용인',
 ' 의왕',
 ' 의정부',
 ' 이천',
 ' 파주',
 ' 평택',
 ' 포천',
 ' 하남',
 ' 화성',
 ' 거제',
 ' 거창',
 ' 고성',
 ' 김해',
 ' 남해',
 ' 밀양',
 ' 사천',
 ' 산청',
 ' 양산',
 ' 의령',
 ' 진주',
 ' 창녕',
 ' 창원',
 ' 통영',
 ' 하동',
 ' 함안',
 ' 함양',
 ' 합천',
 ' 경산',
 ' 경주',
 ' 고령',
 ' 구미',
 ' 군위',
 ' 김천',
 ' 문경',
 ' 봉화',
 ' 상주',
 ' 성주',
 ' 안동',
 ' 영덕',
 ' 영양',
 ' 영주',
 ' 영천',
 ' 예천',
 ' 울릉',
 ' 울진',
 ' 의성',
 ' 청도',
 ' 청송',
 ' 칠곡',
 ' 포항',
 ' 광산',
 ' 남',
 ' 동',
 ' 북',
 ' 서',
 ' 남',
 ' 달서',
 ' 달성',
 ' 동',
 ' 북',
 ' 서',
 ' 수성',
 ' 중',
 ' 대덕',
 ' 동',
 ' 서',
 ' 유성',
 ' 중',
 ' 강서',
 ' 금정',
 ' 기장',
 ' 남',
 ' 동',
 ' 동래',
 ' 부산진',
 ' 북',
 ' 사상',
 ' 사하',
 ' 서',
 ' 수영',
 ' 연제',
 ' 영도',
 ' 중',
 ' 해운대',
 ' 강남',
 ' 강동',
 ' 강북',
 ' 강서',
 ' 관악',
 ' 광진',
 ' 구로',
 ' 금천',
 ' 노원',
 ' 도봉',
 ' 동대문',
 ' 동작',
 ' 마포',
 ' 서대문',
 ' 서초',
 ' 성동',
 ' 성북',
 ' 송파',
 ' 양천',
 ' 영등포',
 ' 용산',
 ' 은평',
 ' 종로',
 ' 중',
 ' 중랑',
 ' 세종',
 ' 남',
 ' 동',
 ' 북',
 ' 울주',
 ' 중',
 ' 강화',
 ' 계양',
 ' 남동',
 ' 동',
 ' 미추홀',
 ' 부평',
 ' 서',
 ' 연수',
 ' 옹진',
 ' 중',
 ' 강진',
 ' 고흥',
 ' 곡성',
 ' 광양',
 ' 구례',
 ' 나주',
 ' 담양',
 ' 목포',
 ' 무안',
 ' 보성',
 ' 순천',
 ' 신안',
 ' 여수',
 ' 영광',
 ' 영암',
 ' 완도',
 ' 장성',
 ' 장흥',
 ' 진도',
 ' 함평',
 ' 해남',
 ' 화순',
 ' 고창',
 ' 군산',
 ' 김제',
 ' 남원',
 ' 무주',
 ' 부안',
 ' 순창',
 ' 완주',
 ' 익산',
 ' 임실',
 ' 장수',
 ' 전주',
 ' 정읍',
 ' 진안',
 ' 서귀포',
 ' 제주',
 ' 계룡',
 ' 공주',
 ' 금산',
 ' 논산',
 ' 당진',
 ' 보령',
 ' 부여',
 ' 서산',
 ' 서천',
 ' 아산',
 ' 예산',
 ' 천안',
 ' 청양',
 ' 태안',
 ' 홍성',
 ' 괴산',
 ' 단양',
 ' 보은',
 ' 영동',
 ' 옥천',
 ' 음성',
 ' 제천',
 ' 증평',
 ' 진천',
 ' 청주',
 ' 충주']