In [1]:
import numpy as np 
import pandas as pd 
import seaborn as sns 
import matplotlib as mpl 
import matplotlib.pyplot as plt 
%matplotlib inline
# 한글폰트 사용
mpl.rc('font', family='Malgun Gothic')
mpl.rc('axes', unicode_minus=False)

In [2]:
df = pd.read_csv('./data/서울시 코로나19 확진자 현황.csv ', sep=',', encoding='euc-kr')
df.head()

,연번,확진일,환자번호,국적,환자정보,지역,여행력,접촉력,조치사항,상태,이동경로,등록일,수정일,노출여부
0,8966,11.30.,NaN,NaN,NaN,강북구,NaN,감염경로 조사중,NaN,NaN,NaN,2020-12-01 15:37:10,2020-12-01 15:37:10,Y
1,8965,11.30.,NaN,NaN,NaN,타시도,NaN,기타 확진자 접촉,NaN,NaN,NaN,2020-12-01 15:37:10,2020-12-01 15:37:10,Y
2,8964,11.30.,NaN,NaN,NaN,타시도,NaN,감염경로 조사중,NaN,NaN,NaN,2020-12-01 15:37:10,2020-12-01 15:37:10,Y
3,8963,11.30.,NaN,NaN,NaN,영등포구,NaN,서초구 사우나 관련,NaN,NaN,NaN,2020-12-01 15:37:10,2020-12-01 15:37:10,Y
4,8962,11.30.,NaN,NaN,NaN,영등포구,NaN,감염경로 조사중,NaN,NaN,NaN,2020-12-01 15:37:10,2020-12-01 15:37:10,Y

In [3]:
soco = df[['연번','확진일','지역','여행력','접촉력','상태','이동경로','노출여부']]
soco.tail()

      연번    확진일   지역     여행력    접촉력  상태          이동경로 노출여부
8961   5  1.31.  성북구     NaN  #5 접촉  퇴원  이동경로 공개기간 경과    Y
8962   4  1.30.  마포구  중국 우한시  해외 접촉  퇴원  이동경로 공개기간 경과    Y
8963   3  1.30.  종로구     NaN  #3 접촉  퇴원  이동경로 공개기간 경과    Y
8964   2  1.30.  중랑구  중국 우한시  해외 접촉  퇴원  이동경로 공개기간 경과    Y
8965   1  1.24.  강서구  중국 우한시  해외 접촉  퇴원  이동경로 공개기간 경과    Y

In [4]:
# nan값 공백으로 변경
soco = soco.fillna(' ')
soco.head()

     연번     확진일    지역 여행력         접촉력 상태 이동경로 노출여부
0  8966  11.30.   강북구        감염경로 조사중            Y
1  8965  11.30.   타시도       기타 확진자 접촉            Y
2  8964  11.30.   타시도        감염경로 조사중            Y
3  8963  11.30.  영등포구      서초구 사우나 관련            Y
4  8962  11.30.  영등포구        감염경로 조사중            Y

In [5]:
# soco.to_excel('./results/서울시코로나확진자.xlsx')

In [6]:
soco['확진일'] = pd.to_datetime(soco['확진일'].map(lambda s: '2020.'+ s))

In [7]:
soco.head()

     연번        확진일    지역 여행력         접촉력 상태 이동경로 노출여부
0  8966 2020-11-30   강북구        감염경로 조사중            Y
1  8965 2020-11-30   타시도       기타 확진자 접촉            Y
2  8964 2020-11-30   타시도        감염경로 조사중            Y
3  8963 2020-11-30  영등포구      서초구 사우나 관련            Y
4  8962 2020-11-30  영등포구        감염경로 조사중            Y

In [9]:
soco_pv = pd.pivot_table(soco, index=['지역'], columns=['확진일'], values=['연번'], aggfunc='count')
soco_pv = soco_pv.fillna(0)
soco_pv.head()

            연번                                                         \
확진일 2020-01-24 2020-01-30 2020-01-31 2020-02-02 2020-02-05 2020-02-06
지역
강남구        0.0        0.0        0.0        0.0        0.0        0.0
강동구        0.0        0.0        0.0        0.0        0.0        0.0
강북구        0.0        0.0        0.0        0.0        0.0        0.0
강서구        1.0        0.0        0.0        0.0        0.0        0.0
경기도        0.0        0.0        0.0        0.0        0.0        0.0

                                                 ...                        \
확진일 2020-02-07 2020-02-16 2020-02-19 2020-02-20  ... 2020-11-21 2020-11-22
지역                                               ...
강남구        0.0        0.0        0.0        1.0  ...        9.0        5.0
강동구        0.0        0.0        0.0        0.0  ...        6.0        4.0
강북구        0.0        0.0        0.0        0.0  ...        2.0        1.0
강서구        0.0        0.0        0.0        0.0  ...        2.0        4.0
경기도        0.0        0.0        0.0        0.0  ...        0.0        0.0

                                                                       \
확진일 2020-11-23 2020-11-24 2020-11-25 2020-11-26 2020-11-27 2020-11-28
지역
강남구       17.0       14.0       11.0        5.0        8.0        6.0
강동구        5.0        4.0        5.0        2.0        3.0        5.0
강북구        0.0        4.0        5.0        1.0        1.0        2.0
강서구        6.0        9.0       58.0       56.0       23.0       15.0
경기도        0.0        0.0        0.0        0.0        1.0        0.0


확진일 2020-11-29 2020-11-30
지역
강남구       12.0       12.0
강동구        2.0        5.0
강북구        8.0        4.0
강서구       15.0       15.0
경기도        0.0        0.0

[5 rows x 283 columns]

#### 데이터 프레임에서 문자열 타입을 변경
- 데이터 프레임에서 데이터 타입 바꾸는 두가지 방법
- 1. astype()을 사용(ex. DataFrame.astype(int또는 float)) : 모든 열의 데이터 타입을 변경
- 2. astype({'컬럼명': int 또는 float})  : 특정 컬럼이 데이터 타입을 변경

In [10]:
# 
soco_pv = soco_pv.astype('int')
soco_pv.head()

            연번                                                         \
확진일 2020-01-24 2020-01-30 2020-01-31 2020-02-02 2020-02-05 2020-02-06
지역
강남구          0          0          0          0          0          0
강동구          0          0          0          0          0          0
강북구          0          0          0          0          0          0
강서구          1          0          0          0          0          0
경기도          0          0          0          0          0          0

                                                 ...                        \
확진일 2020-02-07 2020-02-16 2020-02-19 2020-02-20  ... 2020-11-21 2020-11-22
지역                                               ...
강남구          0          0          0          1  ...          9          5
강동구          0          0          0          0  ...          6          4
강북구          0          0          0          0  ...          2          1
강서구          0          0          0          0  ...          2          4
경기도          0          0          0          0  ...          0          0

                                                                       \
확진일 2020-11-23 2020-11-24 2020-11-25 2020-11-26 2020-11-27 2020-11-28
지역
강남구         17         14         11          5          8          6
강동구          5          4          5          2          3          5
강북구          0          4          5          1          1          2
강서구          6          9         58         56         23         15
경기도          0          0          0          0          1          0


확진일 2020-11-29 2020-11-30
지역
강남구         12         12
강동구          2          5
강북구          8          4
강서구         15         15
경기도          0          0

[5 rows x 283 columns]