## 데이터프레임 인덱스 조작
- set_index : 기존의 행 인덱스를 제거하고 데이터 열 중 하나를 인덱스로 설정
- reset_index : 기존의 행 인덱스를 제거하고 인덱스를 데이터 열로 추가

In [3]:
import numpy as np
import pandas as pd

In [8]:
np.random.seed(0)
df1 = pd.DataFrame(np.vstack([list('ABCDE'),
                              np.round(np.random.rand(3, 5), 2)]).T,
                   columns=["C1", "C2", "C3", "C4"])
df1

  C1    C2    C3    C4
0  A  0.55  0.65  0.79
1  B  0.72  0.44  0.53
2  C   0.6  0.89  0.57
3  D  0.54  0.96  0.93
4  E  0.42  0.38  0.07

In [9]:
df2 = df1.set_index("C1") # C1 열을 인덱스로 설정
df2

      C2    C3    C4
C1
A   0.55  0.65  0.79
B   0.72  0.44  0.53
C    0.6  0.89  0.57
D   0.54  0.96  0.93
E   0.42  0.38  0.07

In [5]:
df2.set_index("C2") # 새로운 인덱스를 넣을 시 기존 인덱스가 사라짐

        C3    C4
C2
0.55  0.65  0.79
0.72  0.44  0.53
0.6   0.89  0.57
0.54  0.96  0.93
0.42  0.38  0.07

In [6]:
df2.reset_index()

  C1    C2    C3    C4
0  A  0.55  0.65  0.79
1  B  0.72  0.44  0.53
2  C   0.6  0.89  0.57
3  D  0.54  0.96  0.93
4  E  0.42  0.38  0.07

In [8]:
df3 = df2.reset_index(drop=True) #옵션을 주면 인덱스 열을 사라지게 됨
df3

     C2    C3    C4
0  0.55  0.65  0.79
1  0.72  0.44  0.53
2   0.6  0.89  0.57
3  0.54  0.96  0.93
4  0.42  0.38  0.07

In [ ]:
### 연습 문제 4.5.1
#5명의 학생의 국어, 영어, 수학 점수를 나타내는 데이터프레임을 다음과 같이 만든다.

#학생 이름을 나타내는 열을 포함시키지 않고 데이터프레임 df_score1 을 생성한 후, df_score1.index 속성에 학생 이름을 나타내는 열을 지정하여 인덱스를 지정한다. reset_index 명령으로 이 인덱스 열을 명령으로 일반 데이터열로 바꾸여 데이터프레임 df_score2을 만든다.

df_score1 = pd.DataFrame(np.round(np.random))

In [ ]:
#학생 이름을 나타내는 열이 일반 데이터 열을 포함하는 데이터프레임 df_score2에 set_index 명령을 적용하여 다시 학생 이름을 나타내는 열을 인덱스로 변경한다.

### 다중 인덱스

In [4]:
np.random.seed(0)
df4 = pd.DataFrame(np.round(np.random.randn(6, 4), 2),
                   columns=[["A", "A", "B", "B"], 
                   # columns 같은 리스트를 줄때 다중 인덱스를 주면 중첩리스트가 됨
                            ["C", "D", "C", "D"]],
                   index=[["M", "M", "M", "F", "F", "F"],
                          ["id_" + str(i + 1) for i in range(3)] * 2])
df4.columns.names = ["Cidx1", "Cidx2"]
df4.index.names = ["Ridx1", "Ridx2"]
df4

Cidx1           A           B
Cidx2           C     D     C     D
Ridx1 Ridx2
M     id_1   1.76  0.40  0.98  2.24
      id_2   1.87 -0.98  0.95 -0.15
      id_3  -0.10  0.41  0.14  1.45
F     id_1   0.76  0.12  0.44  0.33
      id_2   1.49 -0.21  0.31 -0.85
      id_3  -2.55  0.65  0.86 -0.74

In [5]:
df4[('A','D')][('F','id_1')]

0.12

### 행 인덱스와 열 인덱스 교환
- stack :열 인덱스 -> 행 인덱스로 변환
- stack 메서드를 실행하면 열 인덱스가 반시계 방향으로 90도 회전한 것과 비슷한 모양이 됨
- unstack: 행 인덱스 -> 열 인덱스로 변환
-  unstack 메서드를 실행하면 행 인덱스가 시계 방향으로 90도 회전한 것과 비슷하다. 인덱스를 지정할 때는 문자열 이름과 순서를 표시하는 숫자 인덱스를 모두 사용

In [10]:
df2.stack() # 열인덱스가 반시계 방향으로 행으로 차곡차곡 쌓임

C1
A   C2    0.55
    C3    0.65
    C4    0.79
B   C2    0.72
    C3    0.44
    C4    0.53
C   C2     0.6
    C3    0.89
    C4    0.57
D   C2    0.54
    C3    0.96
    C4    0.93
E   C2    0.42
    C3    0.38
    C4    0.07
dtype: object

In [11]:
df2.unstack() # 열인덱스가 밖에 행인덱스가 열인덱스로

    C1
C2  A     0.55
    B     0.72
    C      0.6
    D     0.54
    E     0.42
C3  A     0.65
    B     0.44
    C     0.89
    D     0.96
    E     0.38
C4  A     0.79
    B     0.53
    C     0.57
    D     0.93
    E     0.07
dtype: object

In [12]:
df2

      C2    C3    C4
C1
A   0.55  0.65  0.79
B   0.72  0.44  0.53
C    0.6  0.89  0.57
D   0.54  0.96  0.93
E   0.42  0.38  0.07