#  SQLite3 활용

### 접속

In [1]:
import sqlite3 # sqlite3 모듈사용 
conn = sqlite3.connect('./test.db')
cur = conn.cursor()
cur.execute('select * from test;')
rows = cur.fetchall()
for row in rows:
    print(row)
conn.close() # 다끝나면 cnn.close()

(1, '홍길동')
(2, '대조영')

In [2]:
conn = sqlite3.connect('./test.db')
with conn:
    cur = conn.cursor()
    cur.execute('select * from test;')
    rows = cur.fetchall()
    for row in rows:
        print(row)

(1, '홍길동')
(2, '대조영')

In [3]:
conn = sqlite3.connect('./test.db')
cur = conn.cursor()

In [4]:
# 테이블 구조 변경
sql = 'alter table test add column age integer;'
cur.execute(sql)

In [5]:
conn.commit() # 변경사항 저장

### 데이터 추가

In [6]:
cur = conn.cursor()
sql = "insert into test(name, age) values('장보고', 1000);"
cur.execute(sql)

In [7]:
conn.commit()

In [10]:
# 파라메타는 튜플로 전달
writers = [('이우정', 40),('김은숙', 45)]
sql = "insert into test(name, age) values(?, ?);"
for writer in writers:
    cur.execute(sql, writer)
conn.commit()

In [12]:
cur.execute(sql, ('김수현', 60))
conn.commit()

In [13]:
writers = [('노희경', 30), ('송지나', 30), ('임성한',40)]
cur.executemany(sql, writers) # 안에 전달할 내용만 튜플이 되면 됨
conn.commit()

### 데이터 조회

In [14]:
### 단건 조회
cur = conn.cursor()# 커서 리셋시키는것
select_sql = 'select * from test;'
cur.execute(select_sql)
row = cur.fetchone() # 데이터를 가지고 오는것
print(row)

(1, '홍길동', 300)

In [15]:
# 여러건 조회
rows = cur.fetchmany(3) # 3건을 가지고 오겠다.
for row in rows:
    print(row)

(2, '대조영', 300)
(3, '장보고', 1000)
(4, '이우정', 40)

In [16]:
# 모두 가져오기
rows = cur.fetchall()
for row in rows:
    print(row)

(5, '김은숙', 45)
(6, '김수현', 60)
(7, '김수현', 60)
(8, '노희경', 30)
(9, '송지나', 30)
(10, '임성한', 40)

In [17]:
# 모두 조호ㅣ
cur = conn.cursor()
cur.execute(select_sql)
rows = cur.fetchall()
for row in rows:
    print(row)

(1, '홍길동', 300)
(2, '대조영', 300)
(3, '장보고', 1000)
(4, '이우정', 40)
(5, '김은숙', 45)
(6, '김수현', 60)
(7, '김수현', 60)
(8, '노희경', 30)
(9, '송지나', 30)
(10, '임성한', 40)

In [18]:
# 순회 조회
cur = conn.cursor() # cur: 커서 / 데이터가 있는 곳의 포인팅
cur.execute(select_sql)
for row in cur: # 커서가 가르키는 곳으로
    print(row)

(1, '홍길동', 300)
(2, '대조영', 300)
(3, '장보고', 1000)
(4, '이우정', 40)
(5, '김은숙', 45)
(6, '김수현', 60)
(7, '김수현', 60)
(8, '노희경', 30)
(9, '송지나', 30)
(10, '임성한', 40)

In [22]:
# 필요한 컬럼만 조회
cur = conn.cursor()
cur.execute("select name, age from test order by name;")
rows = cur.fetchall()
for row in rows:
    print(row)

('김수현', 60)
('김수현', 60)
('김은숙', 45)
('노희경', 30)
('대조영', 300)
('송지나', 30)
('이우정', 40)
('임성한', 40)
('장보고', 1000)
('홍길동', 300)

In [24]:
# 원하는 순서 및 갯수
cur = conn.cursor()
cur.execute("select * from test order by age desc, name limit 3;")
rows = cur.fetchall()
for row in rows:
    print(row)

(3, '장보고', 1000)
(2, '대조영', 300)
(1, '홍길동', 300)

In [27]:
# 함수
cur = conn.cursor()
cur.execute('select count(*) from test;')
count = cur.fetchone()
print(count, count[0])

(10,) 10

In [31]:
cur = conn.cursor()
cur.execute('select count(*) from test;')
count, = cur.fetchone() # 카운터
print(count)

10

In [26]:
count

(10,)

In [28]:
cur.execute('select max(age), min(age), sum(age), avg(age) from test;')
row = cur.fetchone()
print(row)

(1000, 30, 1905, 190.5)

In [30]:
cur.execute('select max(age), min(age), sum(age), avg(age) from test;')
max_age,min_age, sum_age, avg_age = cur.fetchone()
print(max_age,min_age, sum_age, avg_age)

1000 30 1905 190.5

In [32]:
cul = conn.cursor()
# ?로 있을 때 파라메타를 튜플()로 줘야함
cur.execute('select * from test where age < ?',(50,)) 
rows = cur.fetchall()
for row in rows:
    print(row)

(4, '이우정', 40)
(5, '김은숙', 45)
(8, '노희경', 30)
(9, '송지나', 30)
(10, '임성한', 40)

### 데이터 변경

In [33]:
cur.execute('update test set age=1300 where id =2;')
conn.commit()

### 데이터 삭제

In [35]:
cur.execute('delete from test where id =6;')
conn.commit()

### 연습문제

In [39]:
cur = conn.cursor()
cur.execute('CREATE TABLE IF NOT EXISTS Eagles \
(back_no INT NOT NULL, \
name TEXT, \
position TEXT, \
PRIMARY KEY(back_no));')

In [40]:
cur = conn.cursor()
cur.execute("insert into Eagles values(1, '하주석', '내야수'),(57,'정우람','투수'),(8, '정근우','내야수');")

In [41]:
cur = conn.cursor()
cur.execute("insert into Eagles values(50, '이성열', '외야수'),(22,'이태양','투수'),(13, '최재훈','포수');")
conn.commit()

In [47]:
cur = conn.cursor()
cur.execute("insert into Pitcher_stats(back_no, name, era, ip, so) \
values(57,'정우람',4.80,9,53),(22,'이태양', 5.46,15,45);")
conn.commit()

In [61]:
cur = conn.cursor()
cur.execute("select Ea.name, Pi.back_no, Ea.position, Pi.ip, Pi.era, Pi.so from Pitcher_stats as Pi inner join Eagles as Ea on Ea.name = Pi.name;")
row = cur.fetchone()
for row in cur:
    print(row)

('정우람', 57, '투수', '9', '4.8', '53')
('이태양', 22, '투수', '15', '5.46', '45')

### 연습문제 2

In [62]:
cur = conn.cursor()
cur.execute('CREATE TABLE groupsinger \
(id integer PRIMARY KEY autoincrement, \
guoup_name TEXT, \
구성원수 TEXT, \
데뷔일자 TEXT, \
소속사 TEXT);')
conn.commit()

In [64]:
cur = conn.cursor()
cur.execute("insert into groupsinger(guoup_name, 구성원수, 데뷔일자, 소속사)\
    values('방탄소년단', 7, '2013-06-13','bighit'),('블랙핑크', 4, '2016-08-08','yg'),('트와이스', 9, '2015-10-20','jyp'), ('신화', 6,'1998-03-24', '신화컴퍼니');")
conn.commit()

In [65]:
cur = conn.cursor()
cur.execute('CREATE TABLE song \
(song_id integer PRIMARY KEY autoincrement, \
song_name TEXT, \
그룹id TEXT, \
발표년도 TEXT, \
작곡가 TEXT, \
도입부가사 TEXT);')
conn.commit()

In [66]:
cur = conn.cursor()
cur.execute("insert into song(song_name, 그룹id, 발표년도, 작곡가, 도입부가사)\
    values('신화', 5, '1998-05-09', '유영진', 'You never give up the more passion easy'),('마마무', 1, '2016-02-12', '김도훈', '딩가딩가할래 친구들 모아 한잔 할래'),('방탄소년단','2', '2019-04-12', 'RM','모든 게 궁금해 How’s your day Oh tell me 뭐가 널 행복하게 하는지 Oh text me'), ('블랙핑크', 3, '2020-10-02','TEDDY','보란 듯이 무너졌어 바닥을 뚫고 저 지하까지 옷 끝자락 잡겠다고'),('트와이스', 4, '2020-10-26','Melanie Joy','알람이 울려대 Ring ring a ling 서로의 눈길이 닿을 때마다 알면서 빙빙 도는데');")
conn.commit()

In [152]:
cur = conn.cursor()
cur.execute("select gr.guoup_name, gr.구성원수, gr.데뷔일자, so.song_name,so.발표년도 from groupsinger as gr inner join song as so on gr.id = so.그룹id;")
row = cur.fetchone()
for row in cur:
    print(row)

('마마무', '4', '2014-06-19', '딩가딩가', '2016-02-12')
('방탄소년단', '7', '2013-06-13', '작은 것들을 위한 시', '2019-04-12')
('블랙핑크', '4', '2016-08-08', 'How You Like That', '2020-10-02')
('트와이스', '9', '2015-10-20', 'I CANT STOP ME', '2020-10-26')

In [79]:
cur = conn.cursor()
cur.execute('CREATE TABLE userss \
(uid VARCHAR(10) NOT NULL PRIMARY KEY, \
`name` TEXT,\
pwd CHAR(44) NOT NULL);')
conn.commit()

In [80]:
cur = conn.cursor()
cur.execute("insert into userss values('kim','김민아','1234'),('wkk','박한','12345');")
conn.commit()

In [164]:
names = str(input('이름을 입력하세요'))

cur = conn.cursor()# 커서 리셋시키는것
cur.execute('select * from userss where name like ?;',(names,))
rows = cur.fetchone() # 데이터를 가지고 오는것
for row in rows:
    if names == row:
        print('성공')
    if names != row:
        print('실패')

실패
성공
실패

In [240]:
names = str(input('이름을 입력하세요'))
pwd = input('')
cur = conn.cursor()# 커서 리셋시키는것
cur.execute('select name,pwd from userss where name = ? and pwd = ?;',(names,pwd,))
rows = cur.fetchone() # 데이터를 가지고 오는것
for row in rows:
    if names == row:
        print('성공')
    if pwd == row:
        print('성공')

성공
성공

In [282]:
names = str(input('이름을 입력하세요'))
pwd = input('')
cur = conn.cursor()# 커서 리셋시키는것
cur.execute('select * from userss')
rows = cur.fetchone() # 데이터를 가지고 오는것

if rows[1] == names and rows[2] == pwd:
    print('성공')
elif rows[1] == names and rows[2] != pwd:
    print('실패')
else:
    print('실패')

실패

In [328]:
names = str(input('이름을 입력하세요'))
pwd = input('')
cur = conn.cursor()# 커서 리셋시키는것
cur.execute('select * from userss')
rows = cur.fetchall() # 데이터를 가지고 오는것

if rows[0][1] == names and rows[1][2] == pwd:
    print('성공')
elif rows[1] == names and rows[2] != pwd:
    print('실패')
else:
    print('실패')

실패

In [326]:
cur = conn.cursor()# 커서 리셋시키는것
cur.execute('select * from userss')
rows = cur.fetchall() # 데이터를 가지고 오는것
print(rows[1][2])

12345

In [ ]:
names = str(input('이름을 입력하세요'))
pwd = input('')
cur = conn.cursor()# 커서 리셋시키는것
cur.execute('select * from userss')
rows = cur.fetchone() # 데이터를 가지고 오는것

if (row):
    rows[1] == names and rows[2] == pwd
    print('성공')
elif rows[1] == names and rows[2] != pwd:
    print('실패')
else:
    print('실패')

In [263]:
try:
    names = str(input('이름을 입력하세요'))
    pwd = input('')
    cur = conn.cursor()# 커서 리셋시키는것
    cur.execute('select name,pwd from userss where name = ? and pwd = ?;',(names,pwd,))
    rows = cur.fetchone() # 데이터를 가지고 오는것
    row,row2 = rows
    if row == names and row2 == pwd:
        print('성공')
except TypeError:
    print('실패')

실패

In [71]:
## 노래 제목 수정
cur = conn.cursor()
cur.execute("update song set song_name = 'How You Like That' where song_name = '블랙핑크';")
conn.commit()

In [ ]:
# login

In [ ]:
uid = input('uid>')
pwd = input('pwd>')

In [ ]:

    sql = 'select * from users where uid like %s and isDeleted=0;'